<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Test.MobileTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SelectPosition</td>
<td>Booking Ticket </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchTicket</td>
<td>Booking Ticket </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SelectTicket</td>
<td>Booking Ticket </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SelectSeat</td>
<td>Booking Ticket </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
