<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Booking Ticket</td><td>MobileTest.SearchTicket(java.util.List)[pri:2, instance:Test.MobileTest@73173f63]<br/>MobileTest.SelectPosition(java.util.List)[pri:1, instance:Test.MobileTest@73173f63]<br/>MobileTest.SelectSeat()[pri:4, instance:Test.MobileTest@73173f63]<br/>MobileTest.SelectTicket()[pri:3, instance:Test.MobileTest@73173f63]<br/></td></tr>
</table>
