<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1c291">  <td>21/09/24 13:00:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileTest.SearchTicket(java.util.List)[pri:2, instance:Test.MobileTest@73173f63]">SearchTicket</td> 
  <td>main@402808045</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/24 13:01:18</td>   <td>42787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileTest.SelectSeat()[pri:4, instance:Test.MobileTest@73173f63]">SelectSeat</td> 
  <td>main@402808045</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/24 13:00:53</td>   <td>18063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileTest.SelectTicket()[pri:3, instance:Test.MobileTest@73173f63]">SelectTicket</td> 
  <td>main@402808045</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/24 13:00:28</td>   <td>-7696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileTest.SelectPosition(java.util.List)[pri:1, instance:Test.MobileTest@73173f63]">SelectPosition</td> 
  <td>main@402808045</td>   <td></td> </tr>
<tr bgcolor="a1c291">  <td>21/09/24 13:02:02</td>   <td>86451</td> <td>&nbsp;</td><td title="&lt;&lt;MobileTest.deleteDriver()[pri:0, instance:Test.MobileTest@73173f63]">&lt;&lt;deleteDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@402808045</td>   <td></td> </tr>
</table>
