<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Test.AppTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchTicket</td>
<td>Search Ticket Checkout Journey Checkout Journey For Restricted View </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>selectSeats</td>
<td>Select Seats Checkout Journey Checkout Journey For Restricted View </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>bookingCalendarForCheckoutJourney</td>
<td>Checkout Journey </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>bookingCalendarForCheckoutJourneyForRestrict</td>
<td>Checkout Journey For Restricted View </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
