<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Checkout Journey</td><td>AppTest.selectSeats()[pri:4, instance:Test.AppTest@ec2cc4]<br/>AppTest.searchTicket(java.util.List)[pri:1, instance:Test.AppTest@ec2cc4]<br/></td></tr>
<tr><td>Checkout Journey For Restricted View</td><td>AppTest.selectSeats()[pri:4, instance:Test.AppTest@ec2cc4]<br/>AppTest.bookingCalendarForCheckoutJourneyForRestrict()[pri:3, instance:Test.AppTest@ec2cc4]<br/>AppTest.searchTicket(java.util.List)[pri:1, instance:Test.AppTest@ec2cc4]<br/></td></tr>
<tr><td>Search Ticket</td><td>AppTest.searchTicket(java.util.List)[pri:1, instance:Test.AppTest@ec2cc4]<br/></td></tr>
<tr><td>Select Seats</td><td>AppTest.selectSeats()[pri:4, instance:Test.AppTest@ec2cc4]<br/></td></tr>
</table>
