<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>EncoreTickets by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0b76e">  <td>21/09/16 03:06:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.bookingCalendarForCheckoutJourneyForRestrict()[pri:3, instance:Test.AppTest@ec2cc4]">bookingCalendarForCheckoutJourneyForRestrict</td> 
  <td>main@547441493</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/09/16 03:06:58</td>   <td>48543</td> <td>&nbsp;</td><td title="&lt;&lt;AppTest.deleteDriver()[pri:0, instance:Test.AppTest@ec2cc4]">&lt;&lt;deleteDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@547441493</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/09/16 03:06:07</td>   <td>-1754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.searchTicket(java.util.List)[pri:1, instance:Test.AppTest@ec2cc4]">searchTicket</td> 
  <td>main@547441493</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/09/16 03:06:35</td>   <td>25451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.selectSeats()[pri:4, instance:Test.AppTest@ec2cc4]">selectSeats</td> 
  <td>main@547441493</td>   <td></td> </tr>
</table>
